#root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

body {
    background-image: url("./assets/img/background.jpg");
    background-size: cover;
}

main {
    flex: 1 0 auto;
    padding: 20px;
}

nav, footer {
    opacity: 0.6;
}