#root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

body {
    background-image: url("./assets/img/background.jpg");
}

main {
    flex: 1 0 auto;
    padding: 20px;
}

nav, footer {
    opacity: 0.6;
}

p {
    margin: 0;
    padding: 5px;
}

h1 {
    margin: 0 !important;
}

h2 {
    color: gray;
}

.labels {
    border: 2px solid #1f2c31;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 17px;
    font-weight: bold;
    background: #1f2c31;
    color: gray;
}

.item.row {
    margin-bottom: 7px;
    border: 2px solid #253339;
    font-size: 15px;
    background: gray;
    font-weight: bold;

    font-style: italic;
}

.delete {
    cursor: pointer;
    color: brown;
    font-size: 15px;
}

.addContact {
    margin-top: 5px;
}

.btn, .btn-large, addContact {
    background-color: gray !important;
    width: 100%;
    font-size: 12px !important;
}

input {
    margin-top: 5px !important;
    height: 35px !important;
    border-radius: 5px !important;
    background-color: whitesmoke !important;
    text-align: center;
}

::placeholder {
    color: black !important;
}

label {

    font-size: 12px !important;
    color: whitesmoke !important;
}

.show {
    display: initial;
}

.hide {
    display:none;
}

button.submit {
    margin-bottom: 15px;
    border-radius: 15px;
    width: 100%;
}

@media(max-width: 420px) {
    p {
        font-size: 11px;
        padding: 0;
        margin: 0;
    }

    .delete {
        font-size: 11px;
    }
}