#root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

body {
    background-image: url("./assets/img/background.jpg");
    background-size: cover;
}

main {
    flex: 1 0 auto;
    padding: 20px;
}

nav, footer {
    opacity: 0.6;
}

p {
    margin: 0;
    padding: 5px;
}

.labels {
    margin-top: 40px;
    border: 2px solid #253339;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 15px;
    font-weight: bold;
    background: gray;
}